<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if @current_user.present? %> 
              <%= link_to 'Home', today_path, class: "button is-primary" %> 
              <%= link_to 'Add', new_entry_path, class: "button is-link" %>

              <%= link_to 'Settings', edit_user_path(@current_user), class: "button is-light" %> 
              <%= link_to "Log Out", login_path, method: 'delete', class: "button is-light" %>
            <% end %>
          </div>
      </div>
    </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
